body,
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  gap: 0;
  height: 100%;
}
body {
  transition: background-color 0.4s;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sale {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 1%;
  flex-wrap: nowrap;
  font-family: "Poppins";
  margin: 0 0 5% 0;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 45px;
  height: 45px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 30px 0 30px;
  align-items: center;
}
.top a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.exclude {
  height: 20px;
  font-size: 20px;
  font-weight: 600;
}
.Sale a {
  color: #ffffff;
  font-weight: 600;
}
.Sale p {
  font-weight: 400;
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
}
.sides p {
  padding-bottom: 10px;
}
.sides a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 13px;
}
.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 30px;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.side-nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: black;
  transition: left 0.4s;
  z-index: 1;
}

.container nav a {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin: 20px 0;
}
.menu-items {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0;
}
.menu-items div {
  margin: 20px 0;
}

.menu-items a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  padding: 5px;
}

.menu-items a:hover {
  background-color: #14181d;
}
nav a:hover {
  background-color: #14181d;
}
.search {
  max-width: 68.7%;
  width: 68.7%;
  border: 0;
  padding: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: 10px;
}
input[type="text"] {
  height: 45px;
  font-size: 16px;
  max-height: 45px;
}
input::placeholder {
  color: black;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 3%;
}
.cartimg {
  justify-self: flex-end;
  align-self: flex-end;
}
.nexttop {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 40px;
  padding: 0 30px 0 30px;
}
.speak {
  margin-bottom: 15px;
}
.iphone {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5%;
}
.bigtext {
  font-size: 48px;
  font-weight: 600;
}
.end {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  align-items: baseline;
}
.end p {
  font-size: 16px;
}
.foot {
  background-color: black;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  bottom: 0;
  position: relative;
  flex-shrink: 0;
  margin-top: 250px;
  margin-bottom: 0px;
}
.foot p {
  margin: 0;
  display: flex;
  justify-content: center;
}
.fontsmall {
  font-size: 16px;
}
.email {
  width: 90%;
}
.footersss {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flashsales {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.gamepad {
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 250px;
  position: relative;
}
.keyboard {
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 250px;
  position: relative;
}
.monitor {
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 250px;
  position: relative;
}
.chair {
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 250px;
  position: relative;
}
.image-container {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.image-container img {
  width: 80%;
  height: 80%;
}
.pro-details {
  padding: 15px;
}

.cat {
  font-size: 11px;
}
.voucher-box {
  background-color: black;
  color: white;
  width: 500px;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 220px;
  max-height: 220px;
}
.applog {
  position: relative;
  bottom: 50px;
  width: 13px;
  right: 2px;
}

.apple-logo {
  width: 193px;
  margin-right: 2px;
}

.text-container {
  text-align: left;
}

.product-name {
  font-size: 8px;
  margin-bottom: 10px;
}

.voucher-offer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  width: 200px;
}

.shop-now {
  color: #0c8ce9;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.fsaleshead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.speakers {
  background-color: #000000;
  color: white;
  width: 230px;
  max-width: 230px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  height: 220px;
  max-height: 220px;
  margin-top: 51px;
}
.btsp {
  width: 173px;
  margin-left: 12px;
  position: relative;
}
.txtcon2 {
  text-align: left;
  position: absolute;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5px;
}

.category-title {
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20.5px;
  font-size: 7px;
}

.category-item {
  display: flex;
  row-gap: 2.5px;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.category-item p {
  font-size: 9px;
}
.category-item p:hover {
  font-weight: bold;
}

.category-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 35%;
}
.category-icon:hover {
  background-color: #0c8ce9;
  border: 5px solid #0c8ce9;
}
.partone {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
}
.parttwo {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
}
.section2 {
  padding: 0 40px;
}
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown {
  display: flex;
  flex-direction: row;
}
.hours,
.secs,
.mins {
  font-size: 12px;
}
